/* Css numero 1 */

/* .lighthouse {
    position: relative;
    width: 100px; 
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light {
    position: absolute;
    top: -10px; 
    width: 20px; 
    height: 20px; 
    background-color: yellow; 
    border-radius: 50%; 
  }
  
  .base {
    width: 30px; 
    height: 30px; 
    background-color: green; 
    border-radius: 50%  
  } */


  /* ----- Css numero 1 até aq */


  /* Css num 2  */

  body {
    font-family: Arial, sans-serif;
}

.lighthouse-container {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 5px;
}

.lighthouse-circle {
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.lighthouse-text {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    color: black;
}